<style>
    *{
        font-family: 'Roboto', sans-serif;
    }
    .headline{
        text-align: center;
    }
    main{
        padding:10px 100px;
    }
    p{
        line-height: 1.5em;
    }
    img{
        width: 100%;
        height: 50%;
    }
</style>
<header>
    <h1 class="headline"><%= data.headline %> </h1>
</header>
<main>
    <img src="<%=data.img%> " alt="">
    <p>
        <%= data.summary %> 
    </p>
</main>